

body {
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    gap: 10px; /* Optional: Adds spacing between elements */
}

.sidebar, .rightsidebar, .mainContent {
    flex-grow: 1; /* Ensures proper width distribution */
}

.sidebar {
    max-height: 100vh; /* Adjust the height as needed */
    overflow-y: auto;
    width: 10%;
    
    padding: 10px;
    height: 100%;
}

.mainContent {
    width: 60%;
    
    padding: 10px;
    height: 100%;
}

.rightsidebar {
    width: 15%;
    
    padding: 10px;
    height: 100%;
}


#newSlideButton{
    width: 180px;
    background-color:rgba(0, 0, 0, 0.641); 
    border: 1px solid rgba(255, 255, 255, 0.6); 
    margin: 5px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    z-index: 10;
}

#newSlideButton:hover {
    background-color: #1a237e;
}
 
/* Cards */

#smallCard{
    width: 90%;
    height: 20vh;
    font-size: 3em;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent */
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#smallCard * {
    font-size: 0.2em; /* Adjust the font size for all elements inside #smallCard */
}
#mainCard{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent */
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#toolbarCard{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent */
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Template CSS */

.optionContainer {
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.questionContainer {
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

#mcqForm .ant-input {
    width: 100vh; /* Ensures the input fills the card size */
    background-color: rgba(70, 80, 90, 0.8) !important; /* Darker background for input fields */
    color: white !important; 
}
#mcqForm .ant-form-item-label > label {
    color: white !important; /* White labels */
}

#SubmitButton, #ClearButton, #DeleteButton {
    width: 220px;
    background-color:rgba(0, 0, 0, 0.641); 
    border: 1px solid rgba(255, 255, 255, 0.6); 
    margin: 5px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    z-index: 10;
}

#SubmitButton:hover, #ClearButton:hover, #DeleteButton:hover {
    background-color: #1a237e;
}