@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Share+Tech+Mono&family=VT323&display=swap');

body {
  background: url('../../sl_031420_28950_10.jpg') no-repeat center center fixed;
   
  background-size: cover;
  font-family: 'share tech mono' , monospace;
  color: white;
  text-align: center;
}