
.navbar{
  display: flex;
  padding: 10px;
  margin: 20px;
  justify-content: space-between;
  position: relative;
}

#ManageButton, #CreateButton, #LogoutButton, #LoginButton {
  width: 200px;
  background-color: black;
  margin: 2px;
  position: absolute; 
}

#ManageButton {
  left: 0; 
}

#CreateButton {
  left: 50%; 
  transform: translateX(-50%); /* Center the button */
}

#LogoutButton {
  left: 100%; 
  transform: translateX(-100%); /* Button on the right */
}

#LoginButton {
  left: 0; 
}

