
.navbar{
  display: flex;
  padding: 10px;
  margin: 20px;
  justify-content: space-between;
  position: relative;
}

#ManageButton, #CreateButton, #LogoutButton, #LoginButton {
  width: 200px;
  background-color: black;
  margin: 2px;
  position: absolute; 
}

#ManageButton {
  left: 0; 
}

#CreateButton {
  left: 50%; 
  transform: translateX(-50%); /* Center the button */
}

#LogoutButton {
  left: 100%; 
  transform: translateX(-100%); /* Button on the right */
}

#LoginButton {
  left: 0; 
}


/* title css */



.code {
  position: absolute;
  top: 50%;
  left:25%;
  transform: translate(-50%,-50%);
}
.clash{
  position: absolute;
  top: 50%;
  left:78%;
  transform: translate(-50%,-50%);
}

h3 {
  font-size:12vw;
  white-space: nowrap;
  overflow: hidden;
  line-height: 220px;
  color: #55C1FF; /* change this */
  text-shadow: 0 10px 7px rgba(0,0,0,0.4),0 -10px 1px #3f83c0;
  letter-spacing: -3px;
}

.glitch-container {
  height: 100px;
}

.glitch-container:hover h3 {
  animation: glitch .3s linear infinite;
  cursor: pointer;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}



