/* Participant.js */
.participant {
    display: flex;
    justify-content: center;
   
}


/* HostView.js */
#EndButton, #NextButton{
    background-color: #f1f1f1;
    border: none;
    color: black;
    text-align: center;
    width: 100%;
    height: 75px;
    margin: 5px 0;
}

#leaderboardCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}

/* PlayerView.js */

/* Question Components */
/* MCQ component */
.multiplechoice{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
#MCQCard{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
#ChoiceButton{
    background-color: #f1f1f1;
    border: none;
    color: black;
    text-align: center;
    width: 100%;
    height: 90px;
    margin: 5px 0;
    
}