/* Participant.js */
.participant {
    display: flex;
    justify-content: center;
   
}



/* HostView.js */
.startCard{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent */
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    min-width: 250px;
}
#EndButton, #NextButton, #StartButton, #leaderboardButton{
    background-color: rgb(128, 128, 128);
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 75px;
    margin: 5px 0;
}

#EndButton:hover, #NextButton:hover, #StartButton:hover, #leaderboardButton:hover{
    background-color: #f1f1f1;
    color: black;
}

.leaderboardCard{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent */
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    min-width: 250px;
    max-height: 300px;
    min-height: 300px;
}

.qr-code{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.playerName{
    color: #ffffff;
    text-align: center;
}

/* PlayerView.js */

/* Question Components */
/* MCQ component */
.multiplechoice{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
/* #MCQCard{
    display: flex;
    flex-direction: column;
    width: 100%; 
} */
#ChoiceButton{
    background-color: grey;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 90px;
    margin: 5px 0;
    
}
#ChoiceButton:hover{
    background-color: #f1f1f1;
    color: black;
}